<head>
    <!-- Latest compiled and minified CSS -->
    <style>
    .fixed-footer{
        width: 100%;
        height: 5rem;
        position: fixed;
        background: #333;
        padding: 10px 0;
        color: #fff;
        bottom: 0;
    } 
    </style>
</head>
<body>
    <br><br><br><br>
    <footer>
        <div class="fixed-footer" style="text-align: center;">Copyright &copy; 2019 E-learning</div>        
    </footer>       
</body>